#avatar{
    height: 120px;
    width: 120px;
}

body{
    background-color: #DAFFFB;
    width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

h1 , h2 , p , td , th{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #444;
        line-height: 1.5px , 1.5px , 1.5px , 1.5px;
  }

main{
    background-color: white;

  }

h1 , h2{
    color: rgb(140, 76, 8);
  }

section{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: 1px gray;

  }

img{
  height: 30px;
  width: 30px;
  }

#robo{
      width: 200px;
      height: 200px;
  }
